<style>
  .alert-danger {
    padding: 20px !important;
    background-color: #e74c41 !important;
    color: white !important;
  }

  .alert-success {
    padding: 20px !important;
    background-color: #4CAF50 !important;
    color: white !important;
  }

  .closebtn {
    margin-left: 15px !important;
    color: white !important;
    font-weight: bold !important;
    float: right !important;
    font-size: 22px !important;
    line-height: 20px !important;
    cursor: pointer !important;
    transition: 0.3s !important;
  }

  .closebtn:hover {
    color: black !important;
  }
</style>


<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
  <div class="alert-danger">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <%= error.msg %>
  </div>
  <% }); %> <% } %> 
  
  <% if(success_msg != ''){ %>
  <div class="alert-success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <%= success_msg %>
  </div>
  <% } %> 
  
  <% if(error_msg != ''){ %>
  <div class="alert-danger">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <p><%= error_msg %></p>
  </div>
  <% } %> 
  
  <% if(error != ''){ %>
    <div class="alert-danger">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= error %>
    </div>
  <% } %>
  