<!DOCTYPE HTML>
<html>

<head>
    <title>Soluge</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body class="homepage is-preload">
    <div id="page-wrapper">

        <section id="header" class="wrapper">     
            <!-- <a href="/"><img src="../images/logo.jpeg" style="width:30%;"></a>        -->
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/user/register">User Register</a></li>
                    <li><a href="/user/login">User login</a></li> -->
                </ul>
            </nav>
    </section>
        
        <!-- Main -->
        <section id="main" class="wrapper style2">
            <div class="container">
                <% include ./partials/messages %>
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6 col-12-small">
                        <section></section>
                
                        <section>
                            <form method="POST" action="/expert/login" style="margin-top: 200px;">
                                <div class="row gtr-50">
                                    <div class="col-12 col-12-small">
                                        <input type="text" name="email" id="email" placeholder="Email address" />
                                    </div>
                                    <div class="col-12 col-12-small">
                                        <input type="password" name="password" id="password" placeholder="Password" />
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" class="style1" value="Login" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer" style="margin-top: 80px;">
            <div id="copyright">
                <ul>
                    <li>&copy; Soluge</li><li>All rights reserved.</a></li>
                </ul>
            </div>
        </section>
    </div>
<!-- Scripts -->
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.dropotron.min.js"></script>
<script src="../js/browser.min.js"></script>
<script src="../js/breakpoints.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/main.js"></script>
</body>

</html>