<!DOCTYPE HTML>
<html>

<head>
    <title>Solution Exchange</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body class="homepage is-preload">
    <div id="page-wrapper">

        <section id="header" class="wrapper">            
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/users/register">User SignUP</a></li>
                    <li><a href="/users/login">User login</a></li>
                    <li><a href="/experts/register">Experts signup</a></li>
                    <li><a href="/experts/login">Experts login</a></li>
                </ul>
            </nav>
    </section>
        
        <!-- Main -->
        <section id="main" class="wrapper style2">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-12-medium">
                        <section class="feature-list small">
                            <div class="row">
                                <div class="col-12 col-12-medium">
                                    <!-- <section>
                                        <h3 class="solid">Admin</h3>
                                        <p>
                                            Study today for success, <br />
                                            do it today.
                                        </p>
                                    </section> -->
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-6 col-12-small">
                        <section>
                            <!-- <h3 class="solid">Study Today</h3>
                            <p>
                                Study today for success, <br />
                                do it today.
                            </p> -->
                        </section>
                        <!-- Sign Up Form -->
                        <section>
                            <form method="POST" action="/experts/login">
                                <div class="row gtr-50">
                                    <div class="col-12 col-12-small">
                                        <input type="text" name="email" id="email" placeholder="Email address" />
                                    </div>
                                    <div class="col-12 col-12-small">
                                        <input type="text" name="password" id="password" placeholder="Password" />
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" class="style1" value="Send" /></li>
                                            <li><input type="reset" class="style2" value="Reset" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <h3 class="solid">Don't have an account? <a href="/experts/register">Signup here</a></h3>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer" >
            <div id="copyright">
                <ul>
                    <li>&copy; Solution Exchange</li><li>All rights reserved.</a></li>
                </ul>
            </div>
        </section>
    </div>

</body>

</html>