<!DOCTYPE HTML>
<html>

<head>
	<title>Soluge</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
</head>

<body class="no-sidebar is-preload">
    <div id="page-wrapper">
        
        <!-- Header -->
        <section id="header" class="wrapper">
            <div id="logo"> 
                <!-- <h1><a href="/">Soluge</a></h1> -->
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/user/register">User SignUP</a></li>
                    <li><a href="/user/login">User login</a></li>
                    <li><a href="/expert/login">Experts login</a></li>
                </ul>
            </nav>
        </section>

        <!-- Main -->
            <div id="main" class="wrapper style2">
                <div class="container">
                    <% include ./partials/messages %>
                    <div id="content">
                        
                        <form action="/resetPassword" method="post">
                            <div class="row gtr-50" style="margin-top: 0px">
                                <div class="col-1">
                                    
                                </div>
                                <div class="col-10">
                                    <div class="col-12 col-12-small">
                                        <h1 style="font-size: 40px;">Change your password here</h1>
                                        <br>
                                        <input type="text" name="token" value="<%= typeof token != 'undefined' ? token : '' %>" style="display: none;">
                                        <br>
                                        <input type="text" name="userId" value="<%= typeof userId != 'undefined' ? userId : '' %>" style="display: none;">
                                        <input type="password" name="password" placeholder="Password" required>
                                        <br>
                                        <input type="password" name="password2" placeholder="Confirm Password" required>
                                        <br>
                                    </div>
                                    <div class="col-12 col-12-small">
                                        <button type="submit" class="button primary">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <!-- Footer -->
            <section id="footer" class="wrapper" style="margin-top: 150px;">
                <div class="container">
                    <div id="copyright">
                        <ul>
                            <li>&copy; Soluge</li><li>All rights reserved.</a></li>
                        </ul>
                    </div>
                </div>
            </section>

    </div>

	<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.dropotron.min.js"></script>
	<script src="../js/browser.min.js"></script>
	<script src="../js/breakpoints.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/main.js"></script>
</body>

</html>