<!DOCTYPE HTML>
<html>

<head>
	<title>Solution Exchange</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
</head>

<body class="no-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            <section id="header" class="wrapper">

                <!-- Logo -->
                    <div id="logo">
                        <h1>Hello <%= user.username %></h1>
                        <!-- <p>A free responsive site template by HTML5 UP</p> -->
                    </div>

                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/dashboard">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="/assignments/assignments">My Assignments</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="current"><a href="/users/logout">Logout</a></li>
                        </ul>
                    </nav>
            </section>

        <!-- Main -->
            <div id="main" class="wrapper style2">
                <div class="title">No Sidebar</div>
                <div class="container">

                    <div id="content">
                        <article class="box post">
                            <header class="style1">
                                <h2>Lorem ipsum dolor sit amet magna egestas<br class="mobile-hide" />
                                morbi bibendum sed malesuada</h2>
                                <!-- <p>Tempus feugiat veroeros sed nullam dolore</p> -->
                            </header>
                        </article>
                        <section>
                            <form action="/assignments/upload" method="post" enctype="multipart/form-data">
                                <div class="row gtr-50">
                                    <div class="col-12 col-12-small">
                                        <select name="category" id="category">
                                            <option value="0">- Category -</option>
                                            <option value="1">Mathematics</option>
                                            <option value="2">Physics</option>
                                            <option value="3">Chemistry</option>
                                            <option value="4">English</option>
                                            <option value="5">Hindi</option>
                                            <option value="6">Biology</option>
                                            <option value="7">Computer</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-12-small">
                                        <input type="file" name="assignment" />
                                    </div>
                                    <div class="col-12 col-12-small">
                                        <button type="submit" class="button primary icon solid fa-upload" value="Upload">Upload</button>
                                       <input type="reset" class="style1" value="Reset" />
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>

        <!-- Footer -->
            <section id="footer" class="wrapper">
                <!-- <div class="title">The Rest Of It</div> -->
                <div class="container">
                    <div id="copyright">
                        <ul>
                            <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </div>
            </section>

    </div>

	<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.dropotron.min.js"></script>
	<script src="../js/browser.min.js"></script>
	<script src="../js/breakpoints.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/main.js"></script>

</body>

</html>